// All constants that are use for calculation of linking line position
// should be synced with style-constants.ts

$cell_width: 180px;
$cell_height: 90px;

$linking_line_width: 4px;
$linking_line_background_color: black;

$gap_between_cells: 16px;
